@using HotelReservation.Models;
@{
    ViewData["Title"] = "Скидки для дней недели";
    ViewData["Name"] = 8;
}
<body>
    <div class="container">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div class="text-center">
                <h5>Работа со скидками для дней недели</h5>
            </div>
            <div class="row">
                <p>
                    Когда бронь пересчитывается, каждый день недели будет иметь свою стоимость от фиксированной стоимости дня в брони.
                    Дни недели и их скидки расположены ниже. Чтобы редактировать нужный день кликните по нему.
                </p>
            </div>
        </div>
        <div class="text-center">
            <div class="btn-group btn-block btn-group-lg justify-content-center">  
                
                    <button type="button" class="btn btn-outline-success navbar-btn active" onclick="location.href = '#'">Дни недели &#128197;</button>
                    <button type="button" class="btn btn-outline-success navbar-btn" onclick="location.href = 'Home/GetPage?id=6'">Периоды &#128336;</button>
                
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div id="modDialog" class="modal fade">
                        <div id="dialogContent" class="modal-dialog"></div>
                    </div>
                    <div class="list-group">
                        @foreach (Day item in (IEnumerable<Day>)ViewData["Collection"])
                        {
                            <button class="list-group-item list-group-item-success list-group-item-action d-flex justify-content-between align-items-center" value="@item.DayId |@item.Discount" id="@item.DayId" onclick="ShowModal(@item.DayId,'EditModal')" >
                                @if (item.DayId == 0)
                                {
                                    <strong>Понедельник</strong>
                                }
                                else if (item.DayId == 1)
                                {
                                    <strong>Вторник</strong>
                                }
                                else if (item.DayId == 2)
                                {
                                    <strong>Среда</strong>
                                }
                                else if (item.DayId == 3)
                                {
                                    <strong>Четверг</strong>
                                }
                                else if (item.DayId == 4)
                                {
                                    <strong>Пятница</strong>
                                }
                                else if (item.DayId == 5)
                                {
                                    <strong>Суббота</strong>
                                }
                                else if (item.DayId == 6)
                                {
                                    <strong>Воскресенье</strong>
                                }
                                <span class="badge badge-success badge-pill">@item.Discount</span>
                            </button>
                        }
                                  
                        <!--EditModal-->
                        <div class="modal fade" id="EditModal" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="text-center">
                                            <h5><strong>Редактировать скидку</strong></h5>
                                        </div>
                                    </div>
                                    <div class="modal-body text-center">
                                            <br />
                                            @Html.TextBox("dayDiscount", "", new { @class = "form-control", id = "EditModal_dayDiscount" })

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-success" data-dismiss="modal" id="edit" onclick="Update()">Изменить</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @section scripts{
                            <script>
                                var key;
        function ShowModal(dayId) {
            var dataStr = $("#" + dayId).val();
            var dataArray= dataStr.split("|");
            var dayId = dataArray[0];
            key = dayId;
            var dayDiscount = dataArray[1];
            $("#EditModal_dayDiscount").val(dayDiscount);
            $('#EditModal').modal('show');
        }
        function Update() {
            var dayID = key;
            var dayDiscount = $("#EditModal_dayDiscount").val();
            document.location.href = "Day/EditModel?id=" + dayID + "&count=" + dayDiscount;
        }
                            </script>
                        }

                    </div>
                </div>
            </div>
          </div>
        </div>
</body>
