@using HotelReservation.Models;
@{
    ViewData["Title"] = "Сервисы";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<body>
    <div class="container">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div class="text-center">
                <h5>Документация по сервисам</h5>
            </div>
            <div class="row">
                <p>
                    В приложении можно добавлять услуги к брони. К каждой услуге приписывается
                    своя стоимость. Также услуги можно создавать, редактировать и удалять.
                </p>
            </div>
        </div>
        <div class="row">
        <div class="col-md-7">
        <div class="jumbotron">
                <div id="services">
                </div>
            <div class="modal fade" id="EditModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-center">
                                <h5><strong>Редактировать услугу &#9999;</strong></h5>
                            </div>
                        </div>
                        <div class="modal-body text-center">
                            <strong>Название услуги</strong>
                            @Html.TextBox("serviceName", "", new { @class = "form-control", id = "EditModal_serviceName" })
                            <strong>Стоимость услуги</strong>
                            @Html.TextBox("serviceCost", "", new { @class = "form-control", id = "EditModal_serviceCost" })
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal" id="edit" onclick="Update()">Изменить</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="DeleteModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-center">
                                <h5><strong>Удалить услугу &#128465;</strong></h5>
                            </div>
                        </div>
                        <div class="modal-body text-center">
                            <strong>Удалить услугу?</strong>
                            <div>
                                <br />
                                <input id="nameOfService" class="text-center" style="width: 75%" readonly="readonly">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal" id="edit" onclick="Delete(@ViewData["CurrentPage"])">Удалить</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="CreateModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-center">
                                <h5><strong>Создать услугу &#9989;</strong></h5>
                            </div>
                        </div>
                        <div class="modal-body text-center">
                            <strong>Название услуги</strong>
                            @Html.TextBox("serviceName", "", new { @class = "form-control", id = "CreateModal_serviceName" })
                            <strong>Стоимость услуги</strong>
                            @Html.TextBox("serviceCost", "", new { @class = "form-control", id = "CreateModal_serviceCost" })
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" data-dismiss="modal" id="edit" onclick="Create()">Создать</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
            @section scripts{
            <script type="text/javascript">
                $.noConflict();

                window.onload = GetStartView();

                function GetStartView() {
                    $('#services').load("../Service/LoadPage?page=1");
                }

                function GetPage() {
                    var name = $('#f1').val();
                    $('#services').load("../Service/LoadPage?page=" + name);
                }

                var key;
                var page_key;
                var modal_mode;
                function DeleteModal(serviceId) {
                    var dataStr = $("#" + serviceId).val();
                    var dataArray = dataStr.split("|");
                    var serviceId = dataArray[0];
                    var serviceName = dataArray[1];
                    var currentPage = dataArray[2];
                    page_key = currentPage;
                    key = serviceId;
                    $("#nameOfService").val(serviceName);
                    $('#DeleteModal').modal('show');
                }
                function ShowModal(serviceId) {
                    var dataStr = $("#" + serviceId).val();
                    var dataArray = dataStr.split("|");
                    var serviceId = dataArray[0];
                    var serviceName = dataArray[1];
                    var serviceCost = dataArray[2];
                    var currentPage = dataArray[3];
                    key = serviceId;
                    page_key = currentPage;
                    $("#EditModal_serviceName").val(serviceName);
                    $("#EditModal_serviceCost").val(serviceCost);
                    $('#EditModal').modal('show');
                }
                function CreateModal() {
                    $('#CreateModal').modal('show');
                }
                function Create() {
                    var serviceName = $("#CreateModal_serviceName").val();
                    var serviceCost = $("#CreateModal_serviceCost").val();
                    var serviceIP = "../Service/CreateService?name=" + serviceName + "&cost=" + serviceCost;
                    serviceIP = serviceIP.replace(/\s*/g, '');
                    $('#services').load(serviceIP);
                }
                function Update() {
                    var serviceID = key;
                    var serviceName = $("#EditModal_serviceName").val();
                    var serviceCost = $("#EditModal_serviceCost").val();
                    var serviceIP = "../Service/EditService?id=" + serviceID + "&name=" + serviceName + "&cost=" + serviceCost + "&page=" + page_key;
                    serviceIP = serviceIP.replace(/\s*/g, '');
                    $('#services').load(serviceIP);
                }
                function Delete(currentPage) {
                    var serviceID = key;
                    var serviceIP = "../Service/DeleteService?id=" + serviceID + "&page=" + currentPage;
                    serviceIP = serviceIP.replace(/\s*/g, '');
                    $('#services').load(serviceIP);
                }
            </script>
                }
        </div>
        </div>
        <div class="col-md-5">
            <div class="jumbotron">
                <div class="text-center">
                    <h5>Фильтр</h5>
                </div>
            </div>
        </div>
        </div>

    </div>
</body>
