@using HotelReservation.Models;
@{
    ViewData["Title"] = "Скидки";
}

<body>
    <div class="container">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <div class="text-center">
                <h5>Работа со скидками</h5>
            </div>
            <div class="row">
                <p>
                    Страница для работы со скидками. В отеле имеется два вида скидок, которые влияют
                    на итоговую стоимость брони.
                </p>
                <p>
                    У нас имеется 2 основных вида скидок. Первый считает скидку за каждый день недели,
                    второй вводит категории длительности, при которых стоимость брони пересчитывается в зависимости от
                    количества дней занимаемых бронью.
                </p>
            </div>
        </div>
        <div class="text-center">
            <div class="btn-group btn-block btn-group-lg justify-content-center">
                @if ((bool)ViewData["Day"])
                {
                    <button type="button" class="btn btn-secondary navbar-btn active" onclick="location.href = '#'">Дни недели &#128197;</button>
                    <button type="button" class="btn btn-secondary navbar-btn" onclick="location.href = ''">Периоды &#128336;</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary navbar-btn" onclick="location.href = ''">Дни недели &#128197;</button>
                    <button type="button" class="btn btn-secondary navbar-btn active" onclick="location.href = '#'">Периоды &#128336;</button>
                }
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                        <div class="list-group">
                            @if ((bool)ViewData["Day"])
                            {
                            foreach (var item in (IEnumerable<Day>)ViewData["Collection"])
                            {
                                <a href="Discount/GetDay?id=@item.DayId" class="list-group-item list-group-item-action list-group-item-success d-flex justify-content-between align-items-center">
                                    @if (@item.DayId == 0)
                                    {
                                        <strong>Понедельник</strong>
                                    }
                                    else if (@item.DayId == 1)
                                    {
                                        <strong>Вторник</strong>
                                    }
                                    else if (@item.DayId == 2)
                                    {
                                        <strong>Среда</strong>
                                    }
                                    else if (@item.DayId == 3)
                                    {
                                        <strong>Четверг</strong>
                                    }
                                    else if (@item.DayId == 4)
                                    {
                                        <strong>Пятница</strong>
                                    }
                                    else if (@item.DayId == 5)
                                    {
                                        <strong>Суббота</strong>
                                    }
                                    else if (@item.DayId == 6)
                                    {
                                        <strong>Воскресенье</strong>
                                    }
                                    <span class="badge badge-success badge-pill">@item.Discount %</span>
                                </a>
                            }}
                            else
                            {
                                foreach (var item in (IEnumerable<Duration>)ViewData["Collection"])
                                {
                                    <a href="Discount/GetDay?id=@item.DurationId" class="list-group-item list-group-item-action list-group-item-success d-flex justify-content-between align-items-center">
                                        @if (@item.DurationId == 1)
                                        {
                                            <strong>от 5 до 9 дней</strong>
                                        }
                                        else if (@item.DurationId == 2)
                                        {
                                            <strong>от 10 до 14 дней</strong>
                                        }
                                        else if (@item.DurationId == 3)
                                        {
                                            <strong>от 15 до 19 дней</strong>
                                        }
                                        else if (@item.DurationId == 4)
                                        {
                                            <strong>от 20 до 24 дней</strong>
                                        }
                                        else if (@item.DurationId == 5)
                                        {
                                            <strong>от 25 до 29 дней</strong>
                                        }
                                        else if (@item.DurationId == 6)
                                        {
                                            <strong>от 30 и больше дней</strong>
                                        }
                                        <span class="badge badge-success badge-pill">@item.Discount %</span>
                                    </a>
                                }

                            }
                        </div>
                    </div>
            </div>
        </div>


    </div>
</body>