<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <style>
         P {
            text-indent: 1.5em;
            text-align: justify;
            padding: 10px; 
        }
    </style>
    <div class="container">
        <div class="text-center font-weight-bold">
            <h2>Royal Palace Inn</h2>
        </div>
        <nav class="navbar navbar-default">
            <div class="btn-group btn-block btn-group-lg">
                <button type="button" class="btn btn-dark navbar-btn" onclick="location.href = '../Home/GetPage?id=0'">Главная &#9875;</button>
                <button type="button" class="btn btn-dark navbar-btn" onclick="location.href = '../Home/GetPage?id=1'">Клиенты &#128513;</button>
                <button type="button" class="btn btn-dark navbar-btn" onclick="location.href = '../Home/GetPage?id=2'">Бронь &#9997;</button>
                <button type="button" class="btn btn-dark navbar-btn" onclick="location.href = '../Home/GetPage?id=3'">Номера &#127750;</button>
                <button type="button" class="btn btn-dark navbar-btn" onclick="location.href = '../Home/GetPage?id=4'">Сервисы &#9749;</button>
                <button type="button" class="btn btn-dark navbar-btn" onclick="location.href = '../Home/GetPage?id=5'">Скидки &#128293;</button>                           
            </div>
        </nav>
        <script>
            $("button[data-form-method='post']").click(function (event) {
                event.preventDefault();
                    var element = $(this);
                    var action = element.attr("href");
                    element.closest("form").each(function () {
                        var form = $(this);
                        form.attr("action", action);
                        form.submit();
                    });
                    });
        </script>
        <br />

        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <footer class="footer">
            <div class="text-center font-weight-bold">
            &copy; 2019 Леонов и Никифоров &#127866;.
            </div>
        </footer>

    </div>
</body>
</html>