<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="text-center font-weight-bold">
            <h2>Royal Palace Inn</h2>
        </div>
        <nav class="navbar navbar-default">
            <div class="btn-group btn-block btn-lg">             
                <input type="button" class="btn btn-dark navbar-btn">Главная</button>
                <button type="button" class="btn btn-dark navbar-btn">Клиенты</button>
                <button type="button" class="btn btn-dark navbar-btn">Бронь</button>
                <button type="button" class="btn btn-dark navbar-btn">Скидки</button>
                <button type="button" class="btn btn-dark navbar-btn">Номера</button>
                <button type="button" class="btn btn-dark navbar-btn">Сервисы</button>
            </div>
        </nav>

        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

        <footer class="footer">
            <div class="text-center font-weight-bold">
            &copy; 2019 Леонов и Никифоров.
            </div>
        </footer>

    </div>
</body>
</html>